<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - SchoolMind</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/SchoolMind.styles.css" asp-append-version="true" />
    <link rel="shortcut icon" href="~/img/logo.png" type="image/x-icon">
    @RenderSection("styles", required: false)
</head>
<body>
    <header class="top-bar">
        <img src="img/logo.png" alt="" class="logo-bar">
        <h2>SchoolMind</h2>
        <img src="img/perfil.png" alt="" class="perfil" onclick="toggleMenu()">
        <div class="sub-menu-wrap" id="subMenu">
            <div class="sub-menu">
                <div class="user-info">
                    <img src="img/perfil.png" alt="">
                    <h2>Usuario</h2>
                </div>
                <hr> 
                <a href="#" class="sub-menu-link">
                    <img src="img/profile.png" alt="">
                    <p>Editar perfil</p>
                    <span>></span>
                </a>
                <a href="#" class="sub-menu-link">
                    <img src="img/setting.png" alt="">
                    <p>Configurações</p>
                    <span>></span>
                </a>
                <a href="#" class="sub-menu-link">
                    <img src="img/help.png" alt="">
                    <p>Ajuda</p>
                    <span>></span>
                </a>
                <a href="#" class="sub-menu-link">
                    <img src="img/logout.png" alt="">
                    <p>Sair</p>
                    <span>></span>
                </a>
            </div>
        </div>
    </header>
    <div class="conteiner-body">
        @RenderBody()
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
